<div class="bottom-bar">
  <!--<div class="centered-panel" layout="row">-->
    <!--todo: clear nested elements-->
    <ng-transclude class="centered-panel">
      <!--<div flex="50">-->
        <!--<div layout="column" layout-align="end start">-->
          <!--<span ng-click="backToDashboard()" class="return-link">&larr; Back to Dashboard</span>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div flex="50" layout-align="start start">-->
        <!--<div layout="row" layout-align="end start">-->
          <!--<che-button-danger che-button-title="Retry"-->
                             <!--ng-click="model.resetLoadFactoryInProgress()"></che-button-danger>-->
        <!--</div>-->
        <!--<div layout="row" layout-align="end start">-->
          <!--<span class="error-logs-link" ng-click="downloadLogs(model.getLoadingSteps()[model.getCurrentProgressStep()].logs)">Problem? download logs</span>-->
        <!--</div>-->
      <!--</div>-->
    </ng-transclude>
  <!--</div>-->
</div>
