$link-color = #a5a5a5

.bottom-bar
  border-top 10px solid #31487b
  background-color #1c253f
  position relative
  bottom 0
  left 0
  min-height 200px
  width 100%
  padding-top 20px
  z-index 1

  .error-logs-link
    cursor pointer
    color $link-color
    margin-top 20px
    margin-right 10px

  .return-link
    cursor pointer
    color $link-color
    margin-top 140px
    margin-left 100px
    text-decoration none


  .animation-panel
    border 3px solid #979797
    background-color #fff
    overflow hidden

  .centered-panel
    max-width 1296px
    min-width 320px
    margin 0px auto
