<div flex style="height: 100%" class="ide-loader">
  <div class="create-project-progress-panel-bottom">

    <div layout="column">
      <!--crane and terminals-->
      <div layout="row">
        <div flex="initial">
          <che-loader-crane che-all-steps="ideLoaderCtrl.getSteps()"
                            che-exclude-steps="[ideLoaderCtrl.getSteps().length-1]"
                            che-step="{{ideLoaderCtrl.getCurrentStep()}}"
                            che-switch-on-iteration="true">
          </che-loader-crane>
        </div>
        <div flex flex-offset="5">
          <che-accordion ng-repeat="step in ideLoaderCtrl.getSteps()" che-index="{{$index}}"
                         che-current-step="{{ideLoaderCtrl.getCurrentStep()}}">
            <che-accordion-title>{{ideLoaderCtrl.getSteps()[$index].text}}{{$index < ideLoaderCtrl.getCurrentStep() ? ' ... completed' : ''}}</che-accordion-title>
            <che-accordion-body ng-show="$index>0 && $index<ideLoaderCtrl.getSteps().length-1">
              <che-terminal che-title="{{ideLoaderCtrl.getSteps()[$index].inProgressText}}"
                            che-text="{{ideLoaderCtrl.getSteps()[$index].logs}}"></che-terminal>
            </che-accordion-body>
          </che-accordion>
        </div>
      </div>
      <!--bottom bar-->
      <che-loader-bottom-bar>
        <div layout="row">
          <div flex="50">
              <span class="create-project-error-logs-link"
                ng-click="ideLoaderCtrl.cancelLoad()">Return to dashboard</span>
          </div>
          <div flex="50" layout="column" layout-align="start end">
            <div layout="row"
                 ng-show="ideLoaderCtrl.getCurrentStep() === (ideLoaderCtrl.getSteps().length - 1)">
            </div>
            <div layout="column" layout-align="end end"
                 ng-show="ideLoaderCtrl.getSteps()[ideLoaderCtrl.getCurrentStep()].hasError">
              <!--<che-button-danger che-button-title="Retry"-->
                                 <!--ng-click="ideLoaderCtrl.resetCreateProgress()"></che-button-danger>-->
              <span class="create-project-error-logs-link"
                ng-click="ideLoaderCtrl.downloadLogs()">Problem? download logs</span>
            </div>
          </div>
        </div>
      </che-loader-bottom-bar>
    </div>
  </div>
</div>
