<div class="terminal">
  <div>
    <div class="top-border"></div>
    <div></div>
  </div>
  <div>
    <div class="front-side">
      <div>
        <div class="title">
          <div>{{title}}</div>
        </div>
        <div class="button"></div>
      </div>
      <div>
        <div class="output" che-auto-scroll ng-model="text">
          <div>
            <code che-format-output flex rows="5" ng-model="text">{{text}}</code>
          </div>
        </div>
      </div>
    </div>
    <div class="right-border"></div>
  </div>
</div>
